.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin:0px auto;
    padding:20px 0px 20px 0px;
}

.jumbotron{
    margin:0px auto;
    padding:70px 30px 70px 30px;
    background:#9575CD;
    color:floralwhite;
}

.address{
    margin:0px;
    color:#0f0f0f;
    font-size: 80%;
}

.row-aboutus{
    padding:50px 0px 70px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #512DA8;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}